.applicationsmaindiv {    
  
   margin-left: 310px;
    background-color: #ffffff;
}

.applicationslists {
    display: flex;
    flex-direction: column;
    
}

.applicationcardss {
    height:200px;
    width:1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.applicationdetailsss {
    flex: 1;
}

.applicationactionsss {
    display: flex;
    gap: 10px;
}

.accept-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reject-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.accept-btn:hover {
    background-color: #45a049;
}

.reject-btn:hover {
    background-color: #e53935;
}
.accept-btn.disabled {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: not-allowed;
}

.reject-btn.disabled {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: not-allowed;
}

.status-text {
    margin-bottom: 20px;
    font-weight: bold;
    color: #4CAF50; 
}
.status-text.accepted {
    color: #4CAF50; 
}

.status-text.rejected {
    color: #f44336; 
}